# Ignore IDE file
.vscode/
.DS_Store
Icon\r
desktop.ini
# Ignore R history
.RHistory
.RData
.RDataTmp
# Ignore data directory
/data/*
.Rproj.user
/archived_code/*
/Literature/*
/memos/*
/Presentation/*
